<div class="container">
	<ul class="tabs translucentOverlay">
		<li class="tab col s3"><a class="white-text active" href="#login">login</a></li>
		<li class="tab col s3"><a class="white-text" href="#signup">Sign Up</a></li>
	</ul>
	<div id="login" class="col s12">
		<form class="col s12">
			<div class="form-container">
				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" class="validate">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" class="validate">
						<label for="password">Password</label>
					</div>
				</div>
				<br>
				<div class="row">
          <div class="s6 center"><button class="btn waves-effect waves-light deep-purple lighten-3 black-text" type="submit" name="action">Login</button></div>
          <div class="s6 center"><a href="">Forgot password?</a></div>
				</div>
			</div>
		</form>
	</div>
	<div id="signup" class="col s12">
		<form class="col s12">
			<div class="form-container">
				<div class="row">
					<div class="input-field col s6">
						<input id="first_name" type="text" class="validate">
						<label for="first_name">First Name</label>
					</div>
					<div class="input-field col s6">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="registration_email" type="email" class="validate">
						<label for="registration_email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="email-confirm" type="email" class="validate">
						<label for="email-confirm">Email Confirmation</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="registration_password" type="password" class="validate">
						<label for="registration_password">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password-confirm" type="password" class="validate">
						<label for="password-confirm">Password Confirmation</label>
					</div>
				</div>
				<div style="text-align:center">
					<button class="btn waves-effect waves-light deep-purple lighten-3 black-text" type="submit" name="action">Sign Up</button>
				</div>
			</div>
		</form>
	</div>
</div>
